* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: rgb(18, 18, 19);
    color: #d1d1d1;
    font-size: 14px;
    padding: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat-Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
.nav>li{
    display: inline;
   font-size: 2rem;
   padding:0 1rem;
}
.logo{
    margin-left: 1rem;
}
li {
    list-style-type: none;
    margin-bottom: .5rem;
}


h1{
    font-weight: lighter;
}
h2 {
    font-weight: 450;
    line-height: 1;
    margin-bottom: 1rem;
}
p {
    padding-bottom: 1.5rem;
}
main {
    display: flex;
    /* background-color: rgb(67, 67, 88); */
}
.grid-container {
    display: grid;
}










 .projects>li {
     border-left: 5px solid #65656594;
     padding-left: 2px;
     background-image: linear-gradient(to right, #1e1e1e, #1e1e1e00,
             #1e1e1e00);
 }

 li a {
    text-decoration: none;
    color: #d1d1d1;
 }
@media only screen and (max-width:960px) {
    h1 {
        font-size: 100px;
    }

    main {
        padding: 30px;
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(to bottom right, #767d81, #767d8100,
                #767d8100, #767d81) 1 round;
        border-radius: 2rem;
    }
     .grid-container {
        grid-template-rows: 1fr 2fr;
        gap: 0rem 4rem;
    } 
    .item1{grid-area: 2 / 1 / 3 / 2;}
    .item2{grid-area: 1 / 1 / 2 / 2;}

}
@media only screen and (min-width:960px) {
    main{
        width: 960px;
        padding: 30px;
        margin: 30px;
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(to bottom right, #767d81,#767d8100,
            #767d8100, #767d81) 1 round;
        border-radius: 2rem;
    }
   .flex-container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    }
    .grid-container{
        grid-template-columns: 2fr 1fr;
        gap:0rem 4rem ;
    }
    h1 {
        font-size: 100px;
    }
    h1 {
        line-height: 1;
        padding-bottom: 20px;
        padding-top: 5px;
    }
}
@media only screen and (max-width:600px) {
    h1 {
        font-size: 12vw;
    }

}

footer{
    text-align: left;
    align-self: end;
}
