* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #292929;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to top right,
    #1212123f,
    #12121291,
    #121212,
    #12121291,
    #12121248
  );
  color: #ffffff;
  font-size: 0.95rem;
  padding: 4.5vw;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.nav-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 10%;
}
.mail,
.github {
  text-align: center;
}
.fa-github,
.fa-envelope {
  font-size: 2rem;
  color: #ffffff80;
  transition: color 0.3s ease-out;
}
.fa-github:hover,
.fa-envelope:hover {
  color: #ffffff;
}
.logo {
  margin-left: 1rem;
}
#logo {
  height: 40px;
  width: auto !important;
}
li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}
h1 {
  font-weight: lighter;
}
h2 {
  font-weight: 450;
  line-height: 1;
  margin-bottom: 1rem;
}
p {
  padding-bottom: 1.5rem;
}
main {
  padding: 30px;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(
      to left,
      #29292900,
      #29292900,
      #29292900,
      #292929
    )
    2 round;
  animation-name: move;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(
        to left,
        #29292900,
        #29292900,
        #29292900,
        #292929
      )
      2 round;
  }
  20% {
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(
        to top,
        #29292900,
        #29292900,
        #29292900,
        #292929
      )
      2 round;
  }
  40% {
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(
        to right,
        #29292900,
        #29292900,
        #29292900,
        #292929
      )
      2 round;
  }
  80% {
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(
        to bottom,
        #29292900,
        #29292900,
        #29292900,
        #292929
      )
      2 round;
  }
  100% {
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(
        to left,
        #29292900,
        #29292900,
        #29292900,
        #292929
      )
      2 round;
  }
}

.grid-container {
  display: grid;
}
.projects > li {
  border-left: 5px solid #292929;
  padding-left: 2px;
  animation-name: blink;
  animation-duration: 1s;
  /* animation-delay: 0.1s; */
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  transition: background-image 2s, padding-left 0.15s;
}
@keyframes blink {
  0% {
    border-left: 5px solid #292929;
  }
  50% {
    border-left: 5px solid #29292900;
  }
  100% {
    border-left: 5px solid #292929;
  }
}
.projects:hover li {
  animation-play-state: paused;
}
.projects > li:hover {
  background-image: linear-gradient(to right, #292929, #29292900, #29292900);
  padding-left: 5px;
}

li a {
  text-decoration: none;
  color: #d1d1d1;
}
@media only screen and (max-width: 960px) {
  h1 {
    font-size: 100px;
  }
  .grid-container {
    grid-template-rows: 1fr 2fr;
    gap: 0rem 4rem;
  }
  .item1 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .item2 {
    grid-area: 1 / 1 / 2 / 2;
  }
}
@media only screen and (min-width: 960px) {
  main {
    max-width: 960px;
  }
  .grid-container {
    grid-template-columns: 2fr 1fr;
    gap: 0rem 4rem;
  }
  h1 {
    font-size: 100px;
    line-height: 1;
    padding-bottom: 20px;
    padding-top: 5px;
  }
}
@media only screen and (max-width: 630px) {
  h1 {
    font-size: 12vw;
  }
}
footer {
  text-align: left;
  align-self: end;
}
