* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #121212;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0rem;
}

table {
  border-radius: 4.5rem;
  background: linear-gradient(135deg,
      rgb(0 0 0 / 0%),
      rgb(18 18 18),
      rgb(38 38 41 / 35%));
  border-spacing: 0.4rem;
  padding: 15rem 0.8rem 4rem 0.8rem;
  box-shadow: 0rem 0rem 5rem 2rem #000000e0;
  width: 0;
}

#outputValue {
  color: #ffffff;
  text-align: right;
  background: transparent;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  width: 100%;
}

.btn td {
  background-color: yellow;
  height: 4rem;
  width: 4rem;
  transition: width 0.1s;
}

.btn td input:not(#zero) {
  width: 4rem;
  transition: width 0.1s;
}

#zero {
  width: 8.4rem;
}

.btn td input {
  height: 100%;
  font-size: 1.5rem;
  font-weight: 100;
  border-radius: 1.45rem;
  box-shadow: 0rem 0rem 0.5rem #000000, 0rem 0rem 2rem #0000007d;
  color: #ced3ef;
  border: 0.3rem solid #292c33;
  background: linear-gradient(135deg, #25272b, #262931, #292c33);
  transition: height 0.1s;
}

.btn.row1 td input:not(#divide) {
  border: 0.3rem solid #415070;
  background: linear-gradient(135deg, #354863, #364864, #445579);
}

.btn td:last-child input {
  border: 0.3rem solid #ff6800;
  background: linear-gradient(135deg, #ee2200, #fe4e00, #fe6100);
}

.btn td input:hover {
  height: 90%;
  transition-timing-function: linear;
  font-size: 1.55rem;
}

.btn td input:active {
  height: 85%;
  font-size: 1.5rem;
}

.btn td input:not(#zero):hover {
  width: 3.9rem;
  transition-timing-function: linear;
}

.btn td input:not(#zero):active {
  width: 85%;
}