* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #292929;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to top right,
    #1212123f,
    #12121291,
    #121212,
    #12121291,
    #12121248
  );
  color: #ffffff;
  font-size: 0.95rem;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

.menu-container {
  padding: 1rem 1.5rem 0.5rem 2.5rem;
  display: grid;
  grid-template-rows: 60px auto;
  gap: 1.5rem;
  height: 100%;
}

.menu-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.6rem;
}

.menu-icon > h2,
.menu-bar {
  font-size: 1.6rem;
}

.main-nav {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-nav > h2 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.nav-list {
  list-style-type: none;
}

.nav-list > li {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0.5rem;
}

.nav-list > li:hover {
  background-color: #272727;
}
.nav-list > .active {
  background-color: #272727;
}

.nav-list > li > i {
  padding-right: 1rem;
}

.sticky {
  display: grid;
  grid-template-rows: 70px 1fr;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 0;
}

.sticky > h2 {
  font-size: 2rem;
  padding: 1.5rem 0rem 0rem 2.5rem;
}

.sticky-item {
  background-color: #292929;
  border-top-left-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 2.5rem 5rem 2.5rem;
}

.sticky-item > aside {
  border-radius: 0.5rem;
}

.sticky-item > aside {
  background-color: #1e1e1e;
  overflow: hidden;
}

.sticky-item > aside .data {
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  padding-top: 3rem;
  font-size: 1.5rem;
  overflow: hidden;
}

.add-note {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

::-webkit-scrollbar-thumb {
  background: #29292981;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #292929;
}
