*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background: rgb(18, 18, 19);
    display: flex;
    justify-content: center;
    align-content: center;
}
/* main{
    height: 95vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
} */
table{
    /* height: 95%; */
    /* margin: auto; */
    border-radius: 45px;
    background:linear-gradient(135deg, rgb(0 0 0 / 0%), rgb(18 18 18), rgb(38 38 41 / 35%));
    min-width: 270px;
    max-width: 270px;
    overflow: hidden;
    max-height: 600px;
    border-spacing: 5px;
    padding:0 8px 40px 8px;
    box-shadow:0px 0px 50px 20px #000000e0;
}
th{
    width: 255px;
    height: 225px;
    position: relative;
    overflow: hidden;
}
#outputValue{
    color: #fafafb;
    text-align: right;
    background: transparent;
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 43px;
    width: 255px;
}
div#output{
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 15px;
    width: 255px;
}
.btn td{
    text-align: center;
    padding: 0;
    height: 60px;
}
.btn td input:not(#zero){
    width: 60px;
    transition: width 0.1s;
}
#zero{
    width: 100%;
}
.btn td input{
    height: 100%;
    font-size: 25px;
    font-weight:100;
    border-radius: 20px;
    box-shadow:0px 0px 5px #000000,
    0px 0px 20px #0000007d;
    color: #ced3ef;
    border: 3px solid #292c33;
    background: linear-gradient(135deg, #25272b, #262931, #292c33);
    transition: height 0.1s;
}
.btn.row1 td input:not(#divide){
    border: 3px solid #415070;
    background: linear-gradient(135deg,#354863,#364864,#445579 );
}
.btn td:last-child input{
    border: 3px solid #ff6800;
    background: linear-gradient(135deg,#ee2200,#fe4e00,#fe6100 );
}
.btn td input:hover{
    height: 90%;
    transition-timing-function: linear;
    font-size: 20px;
}
.btn td input:not(#zero):hover{
    width: 55px;
    transition-timing-function: linear;
}
